@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

html {
    height: 100%;
}

body {
    color: #4c1567;
    font-family: Comic Sans MS, Comic Sans, cursive ;
    font-size: 30px;
    background: linear-gradient(330deg, #3c35f6, #7af0f8, #2bc262);
    text-align: center;
    align-content: center;
    align-items: center;
}

hr {
    width: 80%;
    border-radius: 5px;
}

.wrapper {
    align-content: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    overflow: hidden;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.board {
    margin: 0 auto;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.4);
    height: 600px;
    width: 600px;
    font-size: 0;
    border-radius: 15px;
}

.buttons-row {
    display: flex;
}

.button {
    backdrop-filter: blur(6px);
    background: aliceblue;
    height: 200px;
    width: 200px;
}

.button:hover {
    background: rgba(240, 248, 255, 0.75);
}

.restart-button {
    backdrop-filter: blur(6px);
    height: 50px;
    width: 100px;
    margin: 10px;
    background: #2a6e9d;
    border-radius: 10px;
    color: aliceblue;
}

.b-1 {
    border-top: 0;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-left: 0;
    border-radius: 15px 0 0 0;
}

.b-2 {
    border-top: 0;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-left: 5px solid;
}

.b-3 {
    border-top: 0;
    border-right: 0;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-radius: 0 15px 0 0;
}
.b-4 {
    border-top: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-left: 0;
}

.b-5 {
    border-top: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-left: 5px solid;
}

.b-6 {
    border-top: 5px solid;
    border-right: 0;
    border-bottom: 5px solid;
    border-left: 5px solid;
}

.b-7 {
    border-top: 5px solid;
    border-right: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 0 0 15px;
}

.b-8 {
    border-top: 5px solid;
    border-right: 5px solid;
    border-bottom: 0;
    border-left: 5px solid;
}

.b-9 {
    border-top: 5px solid;
    border-right: 0;
    border-bottom: 0;
    border-left: 5px solid;
    border-radius: 0 0 15px 0;
}

.material-symbols-outlined.extended {
    font-size: 180px;
    vertical-align: center;
    horiz-align: center;
}